{% extends 'base.html.twig' %}

{% block title %}produit!{% endblock %}

{% block body %}
<form>
<div class="col-4">
                        <div class="row form-group">
                            <label for="year" class="col-sm-6 col-form-label text-right">Nom :</label>
                            <div class="col-sm-6">
                                <select type="text" class="form-control" id="nom_search" name="nom_search">
                                    <option></option>
                                    {% for nom in noms %}
                                        <option {{ (nom == nom_search ? 'selected') }}>{{ nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row form-group">
                            <label for="city" class="col-sm-6 col-form-label text-right">Prix :</label>
                            <div class="col-sm-6">
                                <select type="text" class="form-control" id="prix_search" name="prix_search">
                                    <option></option>
                                    {% for prix in prixs %}
                                        <option {{ (prix == prix_search ? 'selected') }}>{{ prix }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </form>
  <div class="card-body">
            <ul class="list-group">
                {% for produit in produits %}
                    <a href="{{ path('produits', {id: produit.id}) }}">
                        <li class="list-group-item list-group-item-action">{{ produit }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
