{% extends 'base.html.twig' %}


{% block body %}


	<div class="card-body">
		<div class="row">
				{% for produit in produits %}
				<div class="col-6 col-md-4">
                        <a href="{{ path('produits', {id: produit.id}) }}">
						<div class="card" style="width: 19rem;">
							<img class="card-img-top" src="{{ asset ('/uploads/' ~ produit.UrlImage) }} " alt="tkt l'image arrive"
							class="card-img-top" style ="width:270px; height: 200px; margin-left: -20px; display:inline-block">
                            </a>
							<div class="card-body">
								<span class="font-weight-bold">{{ produit.nom }}
								</span>
								<p class="card-text text-truncate">Prix :
									{{ produit.prix }}
									€</p>
								  <a href="{{ path('produits', {id: produit.id}) }}" class="btn btn-primary">voir</a>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>
	</div>


	{% block popup %}{% endblock %}
{% endblock %}

