{% extends 'base.html.twig' %}


{% block body %}
             
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card text-left my-2">
                        <div class="card-header">
                            <span class="font-weight-bold">{{ produit.nom }} </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-truncate">Prix : {{ produit.prix }} €</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-truncate">Description : {{ produit.description }}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-truncate">Quantité : {{ produit.quantite }} </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-truncate">Disponible : {% if produit.disponibilite %}
                                                                               le produit est disponible
                                                                                {% else %}
                                                                                le produit n'est plus disponible
                                                                                {% endif %}</p>
                        </div>
                        
                        <div class="card-footer">
                            <a href="{{ path('modif', {id: produit.id}) }}" class="btn btn-warning">Modifier</a>
                            <a href="{{ path('delete', {id: produit.id}) }}" class="btn btn-warning">Suprimer</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    {% block popup %}{% endblock %}
{% endblock %}